* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteinar {
    width: 1130px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #264653;
}

.main-header {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 100px;
    padding: 50px 30px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.header-list li {
    list-style: none;
    padding-left: 36px;
}

.header-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
}

.header-btn {
    cursor: pointer;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #E76F51;
}

/*............................
        banner start
............................. */
#banner {
    background-color: #264653;
}

.banner-details {
    display: flex;
    justify-content: space-between;
}

.banner-left {
    display: flex;
    align-items: center;
    height: 450px;
}

.banner-left-top-p p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.banner-left-top-h1 h1 {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}

.banner-left-p p {
    padding-top: 18px;
    font-size: 16px;
    font-weight: 300;
    color: #E0E0E0;
}

.banner-left-btn {
    padding-top: 21px;
}

.banner-btn {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #E76F51;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

.honda-cbr-img {
    width: 100%;
}

.honda-cbr-img {
    background-image: url(../images/honda....pic.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.fetured-bike-head {
    margin-top: 64px;
}
.fetured-bike-head h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.fetured-bike-head p{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #E76F51;
}
.underline{
    height: 3px;
    width: 60px;
    background-color: #E76F51;
    margin: 0 auto;
}
.fetured-bike-details-img{
    display: flex;
    justify-content:space-between;
    margin-top: 116px;
}
.black-white{
    filter: grayscale(100);
}
/* responsiv start */

@media only screen and (max-width: 600px) and (min-width: 300px) {

    .conteinar {
        width: 100%;
        height: 100%;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .header-list li {
        padding-left: 0px;
        margin: 10px 0px;
    }

    .header-btn {
        margin-top: 20px;
    }

    .header-list {
        display: flex;
        flex-direction: column;
    }

    .banner-details {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
    }
    .banner-left-top-h1 h1{
        font-size: 36px;
    }
    .honda-cbr-img img {
        width: 100%;
    }

    /* fetured bike  section  start */

    .fetured-bike-head h1 {
        font-size: 36px;
    }
    .fetured-bike-details-img {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 101px;
        padding: 10px;
    }

}