* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteinar {
    width: 1130px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #264653;
}

.main-header {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 100px;
    padding: 50px 30px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.header-list li {
    list-style: none;
    padding-left: 36px;
}

.header-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
}

.header-btn {
    cursor: pointer;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #E76F51;
}

/*............................
        banner start
............................. */
#banner {
    background-color: #264653;
    width: 100%;
}

.banner-details {
    display: flex;
    justify-content: space-between;
}

.banner-left {
    display: flex;
    align-items: center;
    height: 450px;
}

.banner-left-top-p p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.banner-left-top-h1 h1 {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}

.banner-left-p p {
    padding-top: 18px;
    font-size: 16px;
    font-weight: 300;
    color: #E0E0E0;
}

.banner-left-btn {
    padding-top: 21px;
}

.banner-btn {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #E76F51;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

.honda-cbr-img {
    width: 100%;
}

.honda-cbr-img {
    background-image: url(../images/honda....pic.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.fetured-bike-head {
    margin-top: 64px;
}
.fetured-bike-head h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.fetured-bike-head p{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #E76F51;
}
.underline{
    height: 3px;
    width: 60px;
    background-color: #E76F51;
    margin: 0 auto;
}
.fetured-bike-details-img{
    display: flex;
    justify-content:space-between;
    margin-top: 116px;
}
.black-white{
    filter: grayscale(100);
}

/* letest news section start */

#letest-news{
    margin-top: 165px;
}
.letest-news-h1 h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #0A0826;
}
.main-card{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    gap: 25px;
}
.card{
    width: 377px;
    height: 100%;
    border-radius: 6px;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.card-img img{
    width: 100%;
}

.card-head{
    padding-top: 20px;
}

.card-head h3{
    font-size: 24px;
    font-weight: 600;
    color: #18191F;
}

.card-head-p{
    font-size: 16px;
    font-family: 400;
    line-height: 32px;
    text-align: justify;
    padding-top: 20px;
}

.card-btn{
    border: 1px solid tomato;
    background-color: #fff;
    color: tomato;
    transition: 2s all ease;
}
.card-btn:hover{
    border:1px solid tomato;
    background-color: tomato;
    color: #fff;
    transition: 1s all ease;
}

/* happy client start */

#happy-clients{
    margin-top:160px;
}
.happy-client-h1 h1{
    color: #0A0826;
    font-size: 48px;
    font-weight: 600;   
    text-align: center;
}

.span-one{
    color:#E76F51;
}
.happy-client-main-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 52px;
}

.happy-client-card{
    width: 323px;
    height: 100%;
    border-radius: 6px;
    padding:40px 35px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.happy-client-card-p{
    margin-top: 15px;
}
.happy-client-card-p p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}

.icon{
    padding-top: 20px;
    padding-left: 5px;
}

.happy-client-card-h2 h2{
    font-size: 16px;
    color: #23A6F0;
    font-weight: 600;
    padding-top: 15px;
}
.happy-client-card-text h2{
    font-size: 16px;
    color:#18191F;
    font-weight: 600;
    padding-top: 15px;
}


/* frequently-asked-quasion*/
.frequently-asked-h1 h1{
    font-size: 48px;
    font-weight: 600;
    color: #0D0925;
    text-align: center;
    margin-top: 158px;
    padding-bottom: 100px;
}

.fequently-asked-main{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.frequenty-asked-left img{
    width: 431px;
    height: 423px;
}

.frequently-asked-text{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 20px;
}



.box{
    margin-top: 10px;
}

/* responsiv start */

@media only screen and (max-width: 600px) and (min-width: 300px) {

    .conteinar {
        width: 100%;
        height: 100%;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .header-list li {
        padding-left: 0px;
        margin: 10px 0px;
    }

    .header-btn {
        margin-top: 20px;
    }

    .header-list {
        display: flex;
        flex-direction: column;
    }

    .banner-details {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
    }
    .banner-left-top-h1 h1{
        font-size: 36px;
    }
    .honda-cbr-img img {
        width: 100%;
    }
    .fetured-bike-head h1 {
        font-size: 36px;
    }
    .fetured-bike-details-img {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 101px;
        padding: 10px;
    }

    .card{
        width:100%;
        height: 100%;
        padding: 10px;
    }
    .main-card{
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
    }

    #happy-clients{
        margin-top:100px;
    }

    .happy-client-h1 h1{
        font-size: 36px;
    }

    .happy-client-main-card{
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
        
    }

    .happy-client-card{
        width: 100%;
        margin-top: 20px;
    }

    .fequently-asked-main{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .frequenty-asked-left img{
        width:100%;
        height: 100%;
        padding:50px 0px;
    }

    .frequently-asked-h1 h1{
        font-size: 36px;
    }
    .frequently-asked-h1 h1{
        margin-top: 40px;
        padding-bottom:0px;
    }
}